<%- include('partials/header') %>

<div class="main-container">
  <div class="table-container">
    <h2>Contact Messages</h2>
    <table class="dashboard-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Sent On</th>
        </tr>
      </thead>
      <tbody>
        <% messages.forEach(msg => { %>
          <tr>
            <td><%= msg.name %></td>
            <td><%= msg.email %></td>
            <td><%= msg.message %></td>
            <td><%= msg.createdAt.toDateString() %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') %>